<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="favicon" href="../favicon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Cash Manager</title>
</head>
<body>
<!-- Last-->
<div class=page>
  <nav class="nav_main">

    <div class="navdiv">
      <div class="user_icon">
        <div><i class="fas fa-user-alt"></i></div>
      </div>
      <h2 class="nombre">usuario</h2>
      <%= link_to raw('<i class="fas fa-home"></i>inicio'), { action: 'inicio' }, class: 'nav_input' %>
      <a class="nav_input_look"><i class="fab fa-get-pocket"></i>bolsillos</a>
      <%= link_to raw('<i class="fas fa-balance-scale-right"></i>balances'), { action: 'balances' }, class: 'nav_input' %>
      <%= link_to raw('<i class="fas fa-chart-pie"></i>graficas'), { action: 'graficas' }, class: 'nav_input' %>
    </div>
    <div class="footer">
      <p class="copy">&copy; 2020 <%= @name %></p>
    </div>
  </nav>
    <div class="details">

      <div class="dash_board">
        <div id="crear_bolsillo" class="bolsillo">          
          <br>
          <strong>Crear bolsillo</strong>
          <br>
          <br>    
          <br>      
          <%= form_tag :action => "crear_bolsillo" do %>
          <p>Nombre del bolsillo </p> <%= text_field_tag "nombre_bolsillo" %>
          <p>Saldo inicial </p> <%= text_field_tag "saldo" %>
          <br>
          <br>
          <br>
          <div class="cont_btn">
            <%= link_to raw('cancelar'), { action: 'bolsillos' }, class: 'submit' %>
            <button class="submit_i">Crear</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</body>
</html>