
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="favicon" href="../favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Cash Manager</title>
</head>
<body>
    
<div class=page>
    <nav class="nav_main">
    <div class="navdiv">
        <div class="user_icon"><div><i class="fas fa-user-alt"></i></div></div>
        <h2 class="nombre">  
        nombre usuario
        </h2>
    <%= link_to raw('<i class="fas fa-home"></i>inicio'), {action: 'inicio'},class:'nav_input' %>
    <%= link_to raw('<i class="fas fa-balance-scale-right"></i>bolsillos'), {action: 'bolsillos'},class:'nav_input' %>
    <%= link_to raw('<i class="fas fa-chart-pie"></i>balances'), {action: 'balances'},class:'nav_input' %>
    <a class="nav_input_look"><i class="fab fa-get-pocket"></i>graficas</a>    
    <%=link_to raw('<i class="fas fa-history"></i>historico'), {action: 'historico'}, class: 'nav_input'%>   
    </div>
    <div class="footer">
            <p class="copy">&copy; 2020 <%= @name %></p>
    </div>
    </nav>
    <div class="details">
        <div class="dash_board">
            
            <div class="dash_1" id="dash_1">
            graficas
            
            </div>
            

        </div>
    </div>
</body>
            
</html>