
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link rel="icon" type="favicon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
=======
    <link rel="icon" type="favicon" href="../favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
>>>>>>> f372e428db3c25825439322d24d1d148c4bbedae
    <title>Cash Manager</title>

</head>

<body>
    
<div class=page>
    <nav class="nav_main">
    <div class="navdiv">
        <div class="user_icon"><div><i class="fas fa-user-alt"></i></div></div>
        <h2 class="nombre">  
        nombre usuario
        </h2>
    <a class="nav_input_look"><i class="fas fa-home"></i>inicio</a>
    <%= link_to raw('<i class="fas fa-balance-scale-right"></i>bolsillos'), {action: 'bolsillos'},class:'nav_input' %>
    <%= link_to raw('<i class="fas fa-chart-pie"></i>balances'), {action: 'balances'},class:'nav_input' %>
    <%=link_to raw('<i class="fab fa-get-pocket"></i>graficas'), {action: 'graficas'}, class: 'nav_input'%>    
    <%=link_to raw('<i class="fas fa-history"></i>historico'), {action: 'historico'}, class: 'nav_input'%>
    </div>
    <div class="footer">
            <p class="copy">&copy; 2020 <%= @name %></p>
    </div>
    </nav>
    <div class="details">
        <div class="dash_board">
            
            <div class="dash_1" id="dash_1">

            <!-- ACA SE CONFIGURA PAGINA DE INICIO  -->

                <nav class="navbar navbar-expand-lg navbar-light navbar-floating">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-lg-5 mt-3 mt-lg-0">
                        <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item active" href="index.html">Homepage 1</a>
                        </div>
                        </li>
                        <li class="nav-item">
                             <%= link_to raw('Bolsillo'), {action: 'bolsillos'}, class:'nav-link' %>
                        </li>
                        <li class="nav-item">
                            <%= link_to raw('Balances'), {action: 'balances'}, class:'nav-link' %>
                        </li>
                        <li class="nav-item">
                            <%=link_to raw('Graficas'), {action: 'graficas'}, class:'nav-link' %> 
                        </li>
                        <li class="nav-item">
                            <%=link_to raw('Historico'), {action: 'historico'}, class:'nav-link' %>
                        </li>
                    </ul>
                    <div class="ml-auto my-2 my-lg-0">
                        <button class="btn btn-dark rounded-pill">Download Now</button>
                    </div>
                    </div>
                </div>
                </nav>
                
                <div class="page-hero-section bg-image hero-home-1">
                <div class="hero-caption pt-5">
                    <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-6 wow fadeInUp">
                        <div class="badge mb-2"><span class="icon mr-1"><span class="mai-globe"></span></span> Cash Manager Best App</div>
                        <h1 class="mb-4">Manege sus Finanzas Facilmente</h1>
                        <p class="mb-4">Cash Manager tiene funciones para ver y gestionar <br>
                        sus finanzas, como balances, historicos y estadísticas.</p>
                        <a href="#" class="btn btn-primary rounded-pill">Obtenga la aplicación ahora</a>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block wow zoomIn">
                        <div class="img-place mobile-preview shadow floating-animate">
                            <img src="<%= asset_path 'app_preview_1.png' %>">
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                <div class="position-realive bg-image">

                <div class="page-section">
                <div class="container">
                    <div class="row">
                    <div class="col-lg-5 py-3">
                        <div class="img-place mobile-preview shadow wow zoomIn">
                        <img src="<%= asset_path 'app_preview_2.png'%>">
                        </div>
                    </div>
                    <div class="col-lg-6 py-3 mt-lg-5">
                        <div class="iconic-list">
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-md iconic-text bg-warning fg-white rounded-circle">
                            <span class="mai-cube"></span>
                            </div>
                            <div class="iconic-content">
                            <h5>Potentes Funcionalidades</h5>
                            <p class="fs-small">Cash Manager le permite mantener al dia sus ingresos y egresos por medio de un bolsillo virtual que le administra todos sus ingresos.</p>
                            </div>
                        </div>
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-md iconic-text bg-info fg-white rounded-circle">
                            <span class="mai-shield"></span>
                            </div>
                            <div class="iconic-content">
                            <h5>Totalmente Seguro</h5>
                            <p class="fs-small">Cash Manager es totalmente segura y confiable, almacene sus estadisticos y comparelos con otros meses.</p>
                            </div>
                        </div>
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-md iconic-text bg-indigo fg-white rounded-circle">
                            <span class="mai-desktop-outline"></span>
                            </div>
                            <div class="iconic-content">
                            <h5>Monitorización Sencilla</h5>
                            <p class="fs-small">Cash Manager le ayuda a mantener visible sus avances economicos por medio de su interfaz y sus herramientas faciles de utilizar.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                <div class="page-section">
                <div class="container">
                    <div class="row">
                    <div class="col-lg-6 offset-lg-1 py-3 mt-lg-5 wow fadeInUp">
                        <h1 class="mb-4">Los negocios de comercio electrónico se abren fácilmente</h1>
                        <p class="mb-4">Nunca fue tan facil administrar sus finanzas por medio de herraminetas electronicas.</p>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Cómo funciona</a>
                    </div>
                    <div class="col-lg-5 py-3">
                        <div class="img-place mobile-preview shadow wow zoomIn">
                        <img src="<%= asset_path 'app_preview_3.png'%>">
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                </div>


                <div class="page-section bg-dark fg-white">
                <div class="container">
                    <h1 class="text-center">Por que elegir Cash Manager</h1>

                    <div class="row justify-content-center mt-5">
                    <div class="col-md-6 col-lg-3 py-3">
                        <div class="card card-body border-0 bg-transparent text-center wow zoomIn">
                        <p class="fs-large">Muy Rapido</p>
                        <p class="fs-small fg-grey">Debido al poco consumo de recursos de hardware hace que sea una herramienta rapida.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 py-3">
                        <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="200ms">
                        <p class="fs-large">Clientes Satisfechos</p>
                        <p class="fs-small fg-grey">Los usuarios del producto querran seguir utilizando dia a dia esta herramienta</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 py-3">
                        <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="400ms">
                        <p class="fs-large">Libre de Anuncios</p>
                        <p class="fs-small fg-grey">Una herramienta libre de anuncios publiscitarios.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 py-3">
                        <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="600ms">
                        <p class="fs-large">Ahorra Dinero</p>
                        <p class="fs-small fg-grey">Con su modelo estadistico permite elaborar la estrategia adecuada de ahorro.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 py-3">
                        <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="800ms">
                        <p class="fs-large">Soporte 24/7</p>
                        <p class="fs-small fg-grey">Soporte las 24 horas con los mejores ingenieros de soporte.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 py-3">
                        <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="1000ms">
                        <p class="fs-large">Características completas</p>
                        <p class="fs-small fg-grey">Las mejores herramientas de analisis estadistico del mercado.</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                <div class="page-section bg-image">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 mb-5 mb-lg-0 wow fadeInUp">
                        <h1 class="mb-4">Plan de Precios</h1>
                        <p class="mb-5">Escoja el mejor plan segun sus necesidades, o la version Free con algunas limitaciones de Funcionamiento o personalize las herramientas segun crea lo mas adecuado para usted.</p>
                        <a href="#" class="btn btn-gradient btn-split-icon rounded-pill">
                        <span class="icon mai-call-outline"></span> Plan Personalizado
                        </a>
                    </div>
                    <div class="col-lg-7">
                        <div class="pricing-table">
                        <div class="pricing-item active wow zoomIn">
                            <div class="pricing-header">
                            <h5>Plan Comercial</h5>
                            <h1 class="fw-normal">$30.00</h1>
                            </div>
                            <div class="pricing-body">
                            <ul class="theme-list">
                                <li class="list-item">Notificación via SMS</li>
                                <li class="list-item">Ancho de banda ilimitado</li>
                                <li class="list-item">Bases de datos en tiempo Real</li>
                                <li class="list-item">Copia de Seguridad Mensual</li>
                                <li class="list-item">Soporte Tecnico 24/7</li>
                            </ul>
                            </div>
                            <button class="btn btn-dark">Elija Plan</button>
                        </div>
                        <div class="pricing-item wow zoomIn" data-wow-delay="200ms">
                            <div class="pricing-header">
                            <h5>Plan Basico</h5>
                            <h1 class="fw-normal">$15.00</h1>
                            </div>
                            <div class="pricing-body">
                            <ul class="theme-list">
                                <li class="list-item">Notificación via SMS</li>
                                <li class="list-item">Ancho de banda limitado</li>
                                <li class="list-item">Copia de Seguridad Mensual</li>
                            </ul>
                            </div>
                            <button class="btn btn-dark">Elija Plan</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                <div class="page-section bg-image bg-image-overlay-dark" style="background-image: url(<% asset_path 'bg_testimonials.jpg' %>%);">
                <div class="container fg-white">
                    <div class="row">
                    <div class="col-md-8 col-lg-6 offset-lg-1 wow fadeInUp">
                        <h2 class="mb-5 fg-white fw-normal">Historias de Emprendedores</h2>
                        <p class="fs-large font-italic">“El ingrediente más importante es levantarte y hacer algo. Así de simple. Muchas personas tienen ideas, pero solo algunas deciden hacer algo hoy. No mañana. No la siguiente semana. Sino hoy. El verdadero emprendedor actúa en lugar de soñar” -</p>
                        <p class="fs-large fg-grey fw-medium mb-5">JNolan Bushnell, emprendedor.</p>

                        <a href="#" class="btn btn-outline-light rounded-pill">Leer Historias <span class="mai-chevron-forward"></span></a>
                    </div>
                    </div>
                </div>
                </div>

                <div class="page-section">
                <div class="container">
                    <div class="row">
                    <div class="col-lg-7 py-3 mb-5 mb-lg-0">
                        <div class="img-place w-lg-75 wow zoomIn">
                        <img src="<%= asset_path 'illustration_contact.svg'%>">
                        </div>
                    </div>
                    
                    <div class="col-lg-5 py-3">
                        <h1 class="wow fadeInUp">Necesita ayuda <br>
                        No se preocupe contactenos</h1>

                        <form method="POST" class="mt-5">
                        <div class="form-group wow fadeInUp">
                            <label for="name" class="fw-medium fg-grey">Nombre Completo</label>
                            <input type="text" class="form-control" id="name">
                        </div>

                        <div class="form-group wow fadeInUp">
                            <label for="email" class="fw-medium fg-grey">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>

                        <div class="form-group wow fadeInUp">
                            <label for="message" class="fw-medium fg-grey">Mensaje</label>
                            <textarea rows="6" class="form-control" id="message"></textarea>
                        </div>

                        <div class="form-group mt-4 wow fadeInUp">
                            <button type="submit" class="btn btn-primary">Enviar mensaje</button>
                        </div>
                        </form>
                    </div>
                    </div>
                </div>
                </div>

                <div class="page-footer-section bg-dark fg-white">
                <div class="container">
                    <div class="row mb-5 py-3">
                    <div class="col-sm-6 col-lg-2 py-3">
                        <h5 class="mb-3">Pages</h5>
                        <ul class="menu-link">
                        <li><a href="#" class="">Features</a></li>
                        <li><a href="#" class="">Customers</a></li>
                        <li><a href="#" class="">Pricing</a></li>
                        <li><a href="#" class="">GDPR</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-2 py-3">
                        <h5 class="mb-3">Company</h5>
                        <ul class="menu-link">
                        <li><a href="#" class="">About</a></li>
                        <li><a href="#" class="">Team</a></li>
                        <li><a href="#" class="">Leadership</a></li>
                        <li><a href="#" class="">Careers</a></li>
                        <li><a href="#" class="">HIRING!</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4 py-3">
                        <h5 class="mb-3">Contact</h5>
                        <ul class="menu-link">
                        <li><a href="#" class="">Contact Us</a></li>
                        <li><a href="#" class="">Office Location</a></li>
                        <li><a href="#" class="">hello@mobster.com</a></li>
                        <li><a href="#" class="">support@macodeid.com</a></li>
                        <li><a href="#" class="">+808 11233 900</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4 py-3">
                        <h5 class="mb-3">Subscribe</h5>
                        <p>Get some offers, news, or update features of application</p>
                        <form method="POST">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your email..">
                            <div class="input-group-append">
                            <button type="submit" class="btn btn-primary"><span class="mai-send"></span></button>
                            </div>
                        </div>
                        </form>

                        <!-- Social Media Button -->
                        <div class="mt-4">
                        <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-facebook"></span></a>
                        <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-twitter"></span></a>
                        <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-instagram"></span></a>
                        <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-google"></span></a>
                        </div>
                    </div>
                    </div>
                </div>

                <hr>

                <div class="container">
                    <div class="row">
                    <div class="col-12 col-md-6 py-2">
                        <img src="favicon-light.png" alt="" width="40">
                        <!-- Please don't remove or modify the credits below -->
                        <p class="d-inline-block ml-2">&copy; 2021 <%= @name %> All rights reserved</p>
                    </div>
                   
                    <div class="col-12 col-md-6 py-2">
                        <ul class="nav justify-content-end">
                        <li class="nav-item"><a href="#" class="nav-link">Terms of Use</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Privacy Policy</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Cookie Policy</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                </div>
                            </div>
                        </div>
                    </div>
            
    </body>
            
</html>